<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' />
	<style>
	{% for i in range(20) %}
	.f-s-{{ i }} {
		font-size: {{ 100 + 15 * (i + 1) }}%;
	}
	{% endfor %}
	</style>
	<script type="text/javascript" src="{{ get_hashed_path('/js/communication.js') }}"></script>
	<script type="text/javascript" src="{{ get_hashed_path('/js/dispatcher.js') }}"></script>
	<script type="text/javascript" src="{{ get_hashed_path('/js/buttons.js') }}"></script>
	{% block head %}{% endblock %}
	<link rel="icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
</head>
<body>
	{% block content %}{% endblock %}
</body>
</html>
