{% extends "buttons_base.html" %}
{% block head %}
<title>Video control</title>
<style>
	body {
		display: block;
	}
	button {
		display: block;
		float: left;
		text-align: center;
		text-decoration: none;
		width: 18vw;
		padding: 0;
		height: 10vh;
		border-radius: 5px;
		background-color: #f2f2f2;
		filter: grayscale(100%);
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-o-user-select: none;
	}
	.main-btns {
		max-height: 50vh;
	}
	.grid-btns {
		display: grid;
		float: left;
	}
	.touch-bar {
		margin: 1vh 1vw;
		border: solid black 1px;
		border-radius: 8px;
		width: 73vw;
		height: 48vh;
		float: right;
	}
	.lh {
		line-height: 50px;
	}
</style>
<script type="text/javascript" src="/js/hammer.min.js"></script>
{% endblock %}
{% block content %}
<div class="main-btns">
	<button class="f-s-5" data-keys="shift+p">
		Prev Vid
	</button>
	<button class="f-s-5" data-keys="j" data-interval="250">
		-10s
	</button>
	<button class="f-s-5 lh" data-keys="space">
		⏸
	</button>
	<button class="f-s-5" data-keys="l" data-interval="250">
		+10s
	</button>
	<button class="f-s-6" data-keys="shift+n">
		Next Vid
	</button>
	<button class="f-s-10 lh" data-keys="ctrl+t">
		+
	</button>
	<button class="f-s-10 lh" data-keys="alt+d;alt+enter">
		⎘
	</button>
	<button class="f-s-3 lh" data-keys="up" data-interval="250">
		▲Vol
	</button>
	<button class="f-s-10 lh" data-keys="f">
		{% if browser == 'safari' %}
		✣
		{% else %}
		⛶
		{% endif %}
	</button>
	<button class="f-s-2" data-cmd="chrome.exe https://www.youtube.com/">
		You Tube
	</button>
	<button class="f-s-10 lh" data-keys="alt+left">
		←
	</button>
	<button class="f-s-3 lh" data-keys="left" data-interval="250">
		◀-5s
	</button>
	<button class="f-s-3 lh" data-keys="down" data-interval="250">
		▼Vol
	</button>
	<button class="f-s-3 lh" data-keys="right" data-interval="250">
		▶+5s
	</button>
	<button class="f-s-10 lh" data-keys="alt+right">
		→
	</button>
	<button class="f-s-10 lh" data-keys="ctrl+w">
		×
	</button>
	<button class="f-s-10 lh" data-keys="ctrl+r">
		↺
	</button>
	<button class="f-s-10 lh" data-keys="ctrl+shift+t">
		✝
	</button>
	<button class="f-s-3" data-cmd="chrome.exe --profile-directory=Default">
		Open prof1
	</button>
	<button class="f-s-3" data-cmd="chrome.exe --profile-directory=&quot;Profile 1&quot;">
		Open prof2
	</button>
</div>
<div>
	<div class="grid-btns">
		<button class="f-s-5" data-keys="ctrl+tab">
			Next tab
		</button>
		<button class="f-s-10 lh" data-keys="volumeup" data-interval="150">
			🔊
		</button>
		<button class="f-s-10 lh" data-keys="volumedown" data-interval="150">
			🔉
		</button>
	</div>
	<div id="touch-bar" class="touch-bar"></div>
	<!--<canvas id="touch-bar" class="touch-bar">
		Your browser does not support canvas element.
	</canvas>-->
</div>
<script type="text/javascript">
	"use strict";
	const dispatchContainer = {};
	const clearContainer = (container) => { container.scrolls = []; container.moves = []; container.click = null; container.doubleClick = null; container.rightClick = null; };
	const copyMove = ({ deltaX, deltaY, timeStamp, deltaTime }) => ({ deltaX, deltaY, timeStamp, deltaTime });

	const touchBarEl = document.getElementById('touch-bar');
	const touchBarMg = new Hammer.Manager(touchBarEl);

	touchBarMg.add(new Hammer.Tap({ event: 'doubletap', taps: 2, threshold: 5, posThreshold: 25 }));
	touchBarMg.add(new Hammer.Tap({ event: 'twoFingersTap', pointers: 2, threshold: 5, posThreshold: 25 }));
	touchBarMg.add(new Hammer.Tap({ event: 'singletap', threshold: 5, posThreshold: 25 }));
	touchBarMg.add(new Hammer.Pan({ event: 'scroll', pointers: 2, threshold: 3, direction: Hammer.DIRECTION_HORIZONTAL }));
	touchBarMg.add(new Hammer.Pan({ event: 'move', direction: Hammer.DIRECTION_ALL }));

	// we want to recognize this simulatenous, so a quadrupletap will be detected even while a tap has been recognized.
	touchBarMg.get('doubletap').recognizeWith('singletap');
	// we only want to trigger a tap, when we don't have detected a doubletap
	touchBarMg.get('singletap').requireFailure('doubletap');

	touchBarMg.on("singletap", () => dispatchContainer.click = {});
	touchBarMg.on("twoFingersTap", () => dispatchContainer.rightClick = {});
	touchBarMg.on("doubletap", () => dispatchContainer.doubleClick = {});
	touchBarMg.on("scroll", (ev) => dispatchContainer.scrolls.push(copyMove(ev)));
	touchBarMg.on("move", (ev) => dispatchContainer.moves.push(copyMove(ev)));

	const dispathTime = 100, moveScale = 0.25, moveTime = 0.005, scrollScale = 0.4, btnTime = 50;
	const dispather = (container) => {
		const start_dispatch = new Date().getTime();
		if (container.doubleClick !== null) {
			post('/click?count=2');
		}
		else if (container.rightClick !== null) {
			post('/click?button=right');
		}
		else if (container.click !== null) {
			post('/click');
		}
		else if (container.moves.length > 0) {
			const delta = { x: 0, y: 0 };
			container.moves.forEach((m) => { delta.x += m.deltaX; delta.y += m.deltaY; });
			post(`/move?deltaX=${moveScale * delta.x}&deltaY=${moveScale * delta.y}&duration=${moveTime}`);
		}
		else if (container.scrolls.length > 0) {
			const deltaY = container.scrolls.reduce((pv, cm) => pv + cm.deltaY, 0);
			post(`/scroll?deltaY=${scrollScale * deltaY}`);
		}
		clearContainer(container);

		const curDispathTime = dispathTime - (new Date().getTime() - start_dispatch);

		if (curDispathTime <= 3) {
			dispather(container);
			return;
		}

		setTimeout(dispather, curDispathTime, container);
	}
	clearContainer(dispatchContainer);
	dispather(dispatchContainer);

	{% if browser == 'safari' %}
	// disable scaling for safary
	let lastTouchEnd = 0;
	document.addEventListener('touchend', function (event) {
		const now = (new Date()).getTime();
		if (now - lastTouchEnd <= 300) {
			event.preventDefault();
		}
		lastTouchEnd = now;
	}, false);
	{% endif %}
</script>
{% endblock %}
